<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lacquer&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/static/logo2.png" alt="Groupie Tracker Logo">
            </div>
            <ul class="menu">
                <li><a href="#about">A propos</a></li>
                <li><a href="#artists">Artists</a></li>
                <li><a href="#locations">Locations</a></li>
                <li><a href="#dates">Dates</a></li>
                <li><a href="#relation">Relation</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="welcome">
            <h1>GROUPIE TRACKER</h1>
            <p>
                Bienvenue sur Groupie Trackers, votre plateforme dédiée à l'exploration des artistes, des groupes, et de leurs concerts à travers le monde. 
                Découvrez leurs histoires, leurs membres, et leurs prochains événements grâce à une interface interactive et intuitive.
            </p>
            <button class="get-started">GET STARTED</button>
        </section>
    </main>
</body>
</html>